body {
    background-image: url("../images/view_from_massive.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.1rem;
    position: relative;
}

h4, h5, h6 {
    text-shadow: 2px 1px 1px rgba(197, 197, 197, 0.7)
}

h1 {
    color: papayawhip;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

h2 {
    text-align: center;
    text-shadow: 4px 2px 1px rgba(175, 175, 175, 0.7);
}

h3 {
    color: white;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
}

h4 {
    margin-top: 15px;
}

h6 {
    font-size: 1.1rem;
}

p {
    margin: 10px;
}

.navbar {
    background-color: rgba(255, 191, 0, 0.7)
}

.nav-link {
    color: #000000;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
    background-color: rgba(255, 222, 122, 1);
    color: #000000;
    font-weight: bold;
}

.nav-pills .show>.nav-link {
    background-color: rgb(255,222,122);
    color: #000000;
    font-weight: bold;
}

.nav-pills {
    border-radius: .25em;
}

.dropdown-menu {
    margin-left: -67px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: rgba(255,240,140,.7);
}

.dropdown-menu.show {
    font-weight: normal;
}

.subMenuText a {
    color: rgb(0,50,100);
}

.container-fluid {
    background-color: rgba(255, 251, 240, 0.75);
}

.container {
    background-color: rgba(255, 246, 219, 0.95);
    border: 4px solid #cc3300;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#headContainer {
    height: 100vh;
    background-image: url("../images/view_from_massive.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.row {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.col {
    text-align: center;
    border: none;
}

#aboutCol {
    text-align: left;
}

.picture {
	position: relative;
	overflow: hidden;
}

.picture img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.picture:hover img {
	transform: scale(1.1);
}

#bioPic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bioPic img {
    max-width: 100%;
}

#allisonbioPic {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/meNoGlasses.jpg);
    background-size: 100%;
}

#allisonbioPic:hover {
    background-image: url(../images/meAlt.jpg);
}

#allisonbioPic img {
    max-width: 100%;
}

.contact-content {
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
}

    .contact-content a {
        color: rgb(0,50,100);
    }

#skillsIcon {
    padding-bottom: 30px;
    padding-top: 10px;
}

/***********************Start breakpoints****************/

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 65px;
    }

    h3 {
        font-size: 28px;
    }

    .navbar {
        font-size: .6em;
        /*background-color: greenyellow;*/
    }

    .dropdown-menu {
        font-size: 1em;
        width: 150px;
    }

    #headerText {
        margin-left: 10px;
        width: 100%;
        height: 100vh;
    }

    #headContainer {
        height: 100vh;
        background-image: url("../images/view_from_massive.jpg");
        background-size: cover;
    }

    .name {
        padding-top: 40vh;
    }

    #allisonbioPic {
        width: 250px;
        height: 250px;
    }
}

    @media only screen and (min-width: 601px) {
        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 35px;
        }

        .navbar {
            font-size: .8em;
        }

        .dropdown-menu {
            font-size: 1.1em;
            width: 180px;
        }

        #headerText {
            margin-left: 20px;
            width: 100%;
            height: 100vh;
        }

        .name {
            padding-top: 40vh;
        }
    }

    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 90px;
        }

        h3 {
            font-size: 40px;
        }

        .navbar {
            font-size: 1em;
        }

        .dropdown-menu {
            font-size: 1.1em;
            width: 180px;
        }

        #headerText {
            margin-left: 30px;
            width: 100%;
            height: 100vh;
        }

        .name {
            padding-top: 40vh;
        }
    }

    @media only screen and (min-width: 1200px) {
        h1 {
            font-size: 100px;
        }

        h3 {
            font-size: 50px;
        }

        .navbar {
            font-size: 1.2em;
        }

        .dropdown-menu {
            font-size: .85em;
            width: 197px;
        }

        #headerText {
            margin-left: 100px;
            width: 100%;
            height: 100vh;
        }

        .name {
            padding-top: 40vh;
        }
    }

@media only screen and (min-width: 1800px) {
    .name {
        padding-top: 50vh;
    }
}
