body {
    background-image: url("../images/bg5.jpg");
    /*background-image: linear-gradient(#00573d, #4670ab);*/
    font-size: 1.1rem;
    position: relative;
}

h1, h3 {
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.7);
}

h2 {
    text-shadow: 4px 2px 1px rgba(175, 175, 175, 0.7);
}

h4, h5, h6 {
    text-shadow: 2px 1px 1px rgba(197, 197, 197, 0.7)
}

h1 {
    color: red;
}

h2 {
    text-align: center;
}

h3 {
    color: white;
}

h4 {
    margin-top: 15px;
}

h6 {
    font-size: 1.1rem;
}

p {
    margin: 10px;
}

.navbar {
    background-color: rgba(255, 191, 0, 0.7)
}

.nav-link {
    color: #000000;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
    background-color: rgba(255, 222, 122, 1.0);
    color: #000000;
    font-weight: bold;
}

.container-fluid {
    background-color: rgba(255, 251, 240, 0.75);
}

.container {
    background-color: rgba(255, 246, 219, 0.95);
    border: 4px solid #cc3300;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#headContainer {
    height: 100vh;
    background-image: url("../images/view_from_massive.jpg");
    background-size: cover;
    background-position: center;
}

#headerText {
    padding-top: 500px;
    padding-left: 100px;
}

.row {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.col {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: rgb(190, 190, 190);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

#teamCol {
    border: none;
}

.picture {
	position: relative;
	overflow: hidden;
}

.picture img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.picture:hover img {
	transform: scale(1.1);
}

#bioPic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bioPic img {
    max-width: 100%;
}

.contact-content {
    text-align: center;
    padding: 10px;
}

.contact-content img {
    padding: 10px;
}